<a href="https://colab.research.google.com/github/PMS201945516/aipython/blob/main/20240105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
the_num = int(input())
num=[]
i=1
while i<=the_num :
    nums = (int(input()))
    num.append(nums)
    i=i+1

num.sort()
print(num[0],num[-1])

4
5
6
7
8
5 8

In [9]:
str = input()
lines = str.split(" ")
print(lines)

Geeks for Geeks
['Geeks', 'for', 'Geeks']

In [8]:
str = ["Geeks","for","Geeks"]
sentence = "-".join(str)
print(sentence)

Geeks-for-Geeks

In [12]:
squares = [i**2 for i in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

In [14]:
city = ["Seoul", "New York", "London", "Shanghai", "Paris", "Tokyo"]
str1 = [str1.append(i) for i in city if i in "S"]
print(str1)

[]

In [15]:
str1 = ["a","b","c"]
for index, str in enumerate(str1):
    print("fruit",index,"name is",str)

fruit 0 name is a
fruit 1 name is b
fruit 2 name is c

In [22]:
name = ["M", "N", "S", "A"]
roll_no = [ 4, 1, 3, 2 ]
for name_num in zip(name,roll_no):
  print(name_num,end="")

('M', 4)('N', 1)('S', 3)('A', 2)

In [25]:
names = ['M','R','C']
ages = [24, 50, 18]
for index,name_num in enumerate(zip(names,ages)):
  print(index,name_num)

0 ('M', 24)
1 ('R', 50)
2 ('C', 18)

In [20]:
names = ['John', 'Jane', 'Doe']
ages = [25, 30, 35]
for name, age in zip(names, ages):
  print(f"{name} is {age} years old.")

John is 25 years old.
Jane is 30 years old.
Doe is 35 years old.

In [26]:
add = lambda x,y: x+y  # lambda를 이용한 정의
print(add(2,5))

7

In [27]:
def add(x,y): #def를 이용한 정의
  return x+y
print(add(2,5))

7

In [29]:
num1 = [4, 5, 6]
num2 = [5, 6, 7]
print(list(map(lambda a,b:a+b,num1,num2)))

[9, 11, 13]

In [36]:
A,B,C = map(int,input().split())
num = [A,B,C]
if A==B or A==C or B==C :
  print("wrong value")
else :
  print(sorted(num, reverse=True))

4 5 6
[6, 5, 4]

In [38]:
total_seconds = int(input())
hours = total_seconds//3600
minutes = (total_seconds//60)%60
seconds = total_seconds %60
print("{:d}시 {:d}분 {:d}초".format(hours,minutes,seconds))

11730
3시 15분 30초