<a href="https://colab.research.google.com/github/PMS201945516/aipython/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print("우리가 수업하는 실습실:")
print(Lab)

우리가 수업하는 실습실:
105

In [2]:
#하나의 변수를 활용하는 코드입니다.
Lab = 105
print("우리가 수업하는 실습실:", Lab)

우리가 수업하는 실습실: 105

In [3]:
#변수 두 개를 생성하고 값을 할당
my_id = 201945516
grade = 3
#두 개의 변수에 할당된 값을 출력
print("나의 학번:")
print(my_id)
print("학년:")
print(grade)

나의 학번:
201945516
학년:
3

In [4]:
#변수에 값을 할당, 출력하는 예제
#dollars에 값을 할당
dollars = 2.75
print("I have", dollars, "in my account.")

#dollars에 새로운 값을 할당
dollars = 99.95
print("But now I have", dollars, "in my account.")

I have 2.75 in my account.
But now I have 99.95 in my account.

In [5]:
#두 개의 변수를 생성, 문자열을 할당.
department = "국어국문학과"
name = "홍길동"
#각 변수에 할당된 문자열 값을 출력.
print(department, name)

국어국문학과 홍길동

In [6]:
#학과명을 입력받고 변수에 저장
department = input("학과명:")
#이름을 입력받고 변수에 저장.
name = input("성명:")
#두 변수를 출력
print("안녕하세요", department, name, "입니다.")

학과명:생명환경화학과
성명:박문수
안녕하세요 생명환경화학과 박문수 입니다.

In [9]:
#이름, 나이, 통학시간 정보를 입력, 변수에 저장.
name = input("당신의 이름은 무엇입니까? ")
age = input("나이는 어떻게 되시나요? ")
commuting_time = float(input("통학시간은 얼마나 걸립니까? "))
#변수에 저장된 데이터를 출력
print("입력 정보는 다음과 같습니다.")
print("이름:", name)
print("나이:", age)
print("통학시간:", commuting_time)

당신의 이름은 무엇입니까? 박문수
나이는 어떻게 되시나요? 24
통학시간은 얼마나 걸립니까? 0.5
입력 정보는 다음과 같습니다.
이름: 박문수
나이: 24
통학시간: 0.5

In [10]:
#변수에 급여를 할당.
salary = 2500.0
#bonus 변수에 bonus를 할당.
bonus = 1200.0
#급여와 보너스를 더하여 총 급여를 계산
#총 급여를 pay에 저장
pay = salary+bonus
#총 급여를 출력
print("총 급여:", pay)

총 급여: 3700.0

In [11]:
# 원가에 할인율을 적용하여 할인가격을 계산하는 프로그램
# original_price에 원가를 입력.
original_price = float(input("제품의 원가를 입력해주세요: "))
# 원가에 할인율 20%를 적용하여 할인가를 계산, discount에 저장.
discount = original_price *0.2
# 원가에 할인가가 적용된 가격을 계산, sale_price에 할당.
sale_price = original_price - discount
# 할인가가 적용된 제품가격을 출력.
print("할인가격:", sale_price)

제품의 원가를 입력해주세요: 50.00
할인가격: 40.0

In [12]:
#세 과목의 평가 점수를 입력받고 test1, 2, 3에 각각 할당.
test1 = float(input("첫 번째 과목 점수를 입력하시오: "))
test2 = float(input("두 번째 과목 점수를 입력하시오: "))
test3 = float(input("세 번째 과목 점수를 입력하시오: "))
#각 과목의 평균을 계산, 그 값을 average에 할당.
average = (test1 +test2 + test3)/3.0
#점수 평균을 출력
print("3과목의 평균 점수:", average)

첫 번째 과목 점수를 입력하시오: 95
두 번째 과목 점수를 입력하시오: 76
세 번째 과목 점수를 입력하시오: 87
3과목의 평균 점수: 86.0

In [13]:
# 초를 입력받아 시, 분, 초로 변환하는 프로그램.
# 초 값을 입력받아, total_seconds에 할당.
total_seconds = float(input("시간 값을 초 단위로 입력하시오: "))
# 시간을 계산하여 hours 변수에 할당.
hours = total_seconds//3600
# 분을 계산하여 minutes 변수에 할당.
minutes = (total_seconds//60)%60
#초의 나머지 값을 seconds 변수에 할당.
seconds = total_seconds%60
# 시, 분, 초 값을 출력한다.
print("시 분 초는 다음과 같습니다.")
print("시:", hours)
print("분:", minutes)
print("초:", seconds)

시간 값을 초 단위로 입력하시오: 11730
시 분 초는 다음과 같습니다.
시: 3.0
분: 15.0
초: 30.0

In [14]:
# 목표액을 특정 이율로 얻고자 할 경우 매년 적립해야할 금액을 계산하는 프로그램.
# 목표액을 입력, future_value에 저장.
future_value = float(input("목표 금액: "))
# 연간 이율을 입력, rate에 저장.
rate = float(input("연간 이율: "))
#적립 기간을 입력, years에 저장.
years = int(input("적립 기간(다만 연 단위로): "))
#특정 기간동안 적립해야할 연 금액을 계산, present_value 변수에 저장.
present_value = future_value/(1.0+rate)**years
#적립 금액을 출력.
print("적립 금액:", present_value)

목표 금액: 10000.0
연간 이율: 0.05
적립 기간(다만 연 단위로): 10
적립 금액: 6139.132535407592

In [21]:
# print 출력문에서 , 사이를 sep로 조절하기.
print("a","b","c")
print("a","b","c",sep="")
print("a","b","c",sep="xxx")

a b c
abc
axxxbxxxc

In [25]:
#print 함수는 자동적으로 줄바꿈이 일어남.
#이러한 줄바꿈이 일어나지 않고, 같은 줄에 여러 print()문을 출력하기 위해 end 옵션을 사용.
print("a")
print("b")
print("c",end="")
print("d")
print("e",end="***")
print("f")

a
b
cd
e***f

In [26]:
# 부동 소수점이 출력되는 연산을 수행하는 프로그램.
# 소수점 길이를 제어하지 않고 결과 값을 출력.
amount_due = 5000.0
monthly_payment = amount_due/12.0
print("월급여:", monthly_payment)

월급여: 416.6666666666667

In [27]:
# 위의 값을 소숫점을 제어하여 나타내는 프로그램
amount_due = 5000.0
monthly_payment = amount_due/12.0
print("월급여:", format(monthly_payment, '5.2f'))

월급여: 416.67

In [28]:
# 역시 소숫점을 제어하여 결과값을 출력하는 프로그램.
monthly_pay = 5000.0
annual_pay = monthly_pay*1.2
print("Your annual pay is $", format(annual_pay, ',.2f'), sep="")

Your annual pay is $6,000.00

In [29]:
# 부동 소수점을 특정 너비에 맞추어 출력하는 방법.
# 아래와 같이 각 변수에 부동 소수점이 포함된 값을 할당.
num1 = 127.899
num2 = 3465.148
num3 = 3.776
num4 = 264.821
num5 = 88.081
num6 = 799.999
# 7칸에 맞추어 부동 소수점이 포함된 변수 값을 출력한다.
print(format(num1, '7.2f'))
print(format(num2, '7.2f'))
print(format(num3, '7.2f'))
print(format(num4, '7.2f'))
print(format(num5, '7.2f'))
print(format(num6, '7.2f'))

 127.90
3465.15
   3.78
 264.82
  88.08
 800.00